/* Conteneur du filtre */
.status-filter-container,
.category-filter-container {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  background-color: #1e1e1e;
  padding: 2rem;
  width: 100%;
  opacity: 0.9;
  height: 200%;
  margin-top: -1rem;
}

.status-filter-container {
  display: flex;
  gap: 2rem;
}

.status-filter-column {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.status-filter-button {
  background-color: inherit;
  color: white;
  padding: 1rem 2rem;
  width: 100%;
  border: none;
  text-align: left;
}

.gender-filter-container {
  display: flex;
  padding: 2rem 0rem;
}

.category-filter-column {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.category-filter-button {
  background-color: inherit;
  color: white;
  padding: 1rem 2rem;
  width: 100%;
  border: none;
}

h3 {
  text-align: center;
  color: white;
}

.filter-button-active {
  color: #28a745;
  font-weight: bold;
}