.runner-header {
  display: grid;
  grid-template-columns: 3rem 1fr 3rem;
  align-items: center;
  justify-items: center;
  margin-bottom: 1rem;
  width: 100%;
  padding: 0 1rem;
}

.runner-container {
  background: #2d2d2d;
  border-radius: 0.5rem;
  margin: 1rem;
  padding: 1rem 0rem;
}

.runner-container h2 {
  color: #00ff88;
  text-align: center;
}

.result-grid {
  padding-bottom: 3rem;
}

.result-line {
  display: flex;
  padding: 1rem 0.2rem;
}

.result-item {
  flex: 1;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.label {
  color: #a0a0a0;
  font-size: 0.9rem;
}

.value {
  color: white;
  font-weight: 600;
}

.runner-return-button {
  background: none;
  border: none;
  color: #00ff88;
  padding: 0.5rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease, color 0.3s ease;
  cursor: pointer;
  grid-column: 1;
  justify-self: start;
}