body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #1a1a1a;
  color: #ffffff;
  line-height: 1.6;
}

.app-container {
  margin: 0 auto;
  padding: 1rem 1rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Désactiver les flèches pour input de type number */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.even-row {
  background-color: #222;
}

.odd-row {
  background-color: #2d2d2d;
}


/* Desktop */
.table-header-label {
  display: inline;
}

.table-header-short {
  display: none;
}

/* Mobile */
@media (max-width: 768px) {
  .table-header-label {
    display: none;
  }

  .table-header-short {
    display: inline;
  }
}